* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
}

.App {
  background-size: cover;
  background-image: url('./assets/summer.jpg');
  background-position: bottom;
  transition: 0.4s ease-out;
}

.App.winter {
  background-image: url('./assets/winter.jpg');
}

main {
  min-height: 100vh;
}